.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(216, 221, 207);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width:50%;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    margin-bottom:20px;
    margin-top:20px;
    padding: 20px 20px;
}
.cardClips {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(232, 235, 227);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width:90%;
    margin: 0 auto;
    padding: 50px 50px;
    margin-bottom:20px;
    margin-top:20px;    
}


/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

/* Add rounded corners to the top left and the top right corner of the image */
.card img {
    align-content: center;
    width:200px;
    height: 300px;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}