<div *ngIf="selectedStar">
  <h1>{{ selectedStar.name | uppercase}} Details</h1>
  <div><span>id: </span>{{selectedStar.id}}</div>
  <div><span>name: </span>{{selectedStar.name}}</div>
  <div><span>rank: </span>{{selectedStar.rank}}</div>
  
  <ul class="stars">
    <li *ngFor="let clip of selectedStarClips"> 
          <span class="badge">{{clip.name}}</span> {{clip.studio}} <span ngif=clip.series> - {{clip.series}}</span>
    </li>
  </ul>

  <div>
    <label>name:
      <input [(ngModel)]="selectedStar.name" placeholder="name">
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  </div>
