.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width:50%;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;       /* the same as your div height */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

/* Add rounded corners to the top left and the top right corner of the image */
.card img {
    align-content: center;
    width:200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}