<div *ngIf="selectedStar">

    <div class="card">
        <img src={{imgUrl}} alt="Avatar">
        <div class="container">
          <h4><b>{{selectedStar.name}}</b></h4> 
          <p>Rank {{selectedStar.rank}} & {{selectedStar.clips}} clips</p> 
          <app-star-rating [item] = "selectedStar"></app-star-rating>
          <app-star-tagging [item] = "selectedStar"></app-star-tagging>

        </div>
      </div>

<div class="cardClips">
  <ul class="stars">
    <li *ngFor="let clip of selectedStarClips"> 
          
          <app-star-deleting [itemParent] = "selectedStar" [item] = "clip" [items] = "selectedStarClips"></app-star-deleting>
          <span class="badge">{{clip.name}}</span> 
          <span>{{clip.studio}}</span>
          <span>{{clip.series}}</span>
          <app-star-rating [item] = "clip"></app-star-rating>
          <app-star-tagging [item] = "clip"></app-star-tagging>
    </li>
  </ul>
</div>

  <div>
    <label>name:
      <input [(ngModel)]="selectedStar.name" placeholder="name">
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  </div>
