<div *ngIf="selectedStar">

    <div class="card">
        <img src={{imgUrl}} alt="Avatar">
        <div class="container">
          <h4><b>{{selectedStar.name}}</b></h4> 
          <p>Rank {{selectedStar.rank}} & {{selectedStar.clips}} clips</p> 
        </div>
      </div>

<div class="cardClips">
  <ul class="stars">
    <li *ngFor="let clip of selectedStarClips"> 
          <span class="badge">{{clip.name}}</span> 
          <span>{{clip.studio}}</span>
          <span>{{clip.series}}</span>
          <span  *ngFor="let i of clip.rank | times" class="fa fa-star checked" (click)="clipClicked(clip, i)"> </span>
          <span *ngFor="let i of (6-clip.rank) | times" class="fa fa-star" (click)="clipClicked(clip, clip.rank+i)"></span>
    </li>
  </ul>
</div>

  <div>
    <label>name:
      <input [(ngModel)]="selectedStar.name" placeholder="name">
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  </div>
