<h2>My Stars</h2>

<div class="star-search_right">
    <input #filerBox id="search-box" placeholder="Filter by ..." [(ngModel)]="filterName" />
</div>
<div class="star-search_right">
    Sort by:
    <select [(ngModel)]="orderProp">
        <option value="id">Alphabetical</option>
        <option value="addeddt">Newest</option>
        <option value="moddt">Modified</option>
        <option value="-rank">Rank</option>
        <option value="-clips">Number of clips</option>
    </select>
</div>


<div>
    <button type="button" class="btn-alphabet btn btn-default" *ngFor="let letter of alphabet"
        (click)="setActiveLetter(letter)" [ngClass]="{'btn-primary': letter==activeLetter}">
        {{letter}}
    </button>
</div>

<div>
    <button type="button" class="btn btn-default" *ngFor="let tag of uniqTags"
        (click)="addTagToFilter(tag)" [ngClass]="{'btn-primary': (tagFilter.indexOf(tag) != -1)}">
        {{tag}}
    </button>
</div>


<div>
        <ul>
                <li *ngFor="let starE of allstars | sortBy: orderProp | filterByTag: tagFilter | filterByFirstLetter: activeLetter | filterBy: filterName">
                        <button class="btn btn-danger btn-xs"> &times; </button>                
                        <a routerLink="/detail/{{starE.id}}">{{starE.name}}</a>
                        
                        <app-star-rating [item] = "starE"></app-star-rating>

                        <span class="badge" [ngClass]="{'badgeGreen': starE.clips > 30}">{{starE.clips}}</span>
                        
                        <app-star-tagging [item] = "starE"></app-star-tagging>
                            
                        
                </li>
        </ul>    
</div>







